.side-menu
  height: 100vh
  background-color: #eaeaea
  &-btn
    height: 32px
    width: 32px
    margin: 8px 0 8px
    position: relative
    cursor: pointer
    
    &__title
      background-image: url("./../assets/images/title-icon.png") 

    &__machigai-sagashi
      background-image: url("./../assets/images/machigai-sagashi-icon.png")